[submodule "scripts"]
	path = scripts
	url = https://github.com/denysvitali/tegra-rootfs-scripts

[submodule "linux"]
	path = linux
	url = https://github.com/denysvitali/linux-smaug
	branch = linux-4.17-next

[submodule "mesa"]
	path = mesa
	url = https://github.com/mesa3d/mesa

[submodule "wayland"]
	path = wayland
	url = https://github.com/wayland-project/wayland
[submodule "drm"]
	path = drm
	url = git://anongit.freedesktop.org/mesa/drm
[submodule "linux-firmware"]
	path = linux-firmware
	url = git://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git
